h1 {
    color: purple;
}

#header1 {
    color: green;
}

p { 
    color: blue; 
}

.navigation { 
  margin: 2px;
}

p.introduction { 
  margin: 2px;
}

#blog h1 {
  color: blue;
}

#blog div h1 {
  color: yellow;
}

#blog > h1 {
  color: blue;
}

/* :hover Pseudo-Class */
a:hover {
  color: orange;
}

/* font */
p { 
  font-family: "Courier New", monospace;
  font-size: 12px;
}

/* Text Transformation */
p { 
  text-transform: uppercase;
}

/* Text Decoration */
p { 
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
}

/* Box model */
h1 {
    border-width: thick;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 2px;
}

/* Inline */
#middle {
    display: inline;
}

/* Text Alignment */
p {
    text-align: center;
}

/* HTML Element Center Alignment */
.child {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.child {
  width: 50%;
  padding: 20px;
  border: 4px solid green;
  margin: auto;
}

/* HTML Element Left / Right Alignment */
.child {
  float: right;
}